*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}

.container{
    width: 1150px;
    margin: 0 auto;
}

.logo{
    font-size: 20px;
    color: green;
}
nav .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

nav .container ul{
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: #ccc;
}